 /* 
Font: Inter
300: light
400: regular
500: medium
600: semibold
700: bold
*/
* {
    box-sizing: border-box;
}

.inter {
    font-family: "Inter", sans-serif;
}
  
img {
    width: 100%;
    max-width: 100%;
    height: auto;
      
}

#profile-img {
    max-width: 1200px;
    margin: auto;
}
  
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
  
header {
    display: inline-block;
    background-color: #ffe4c4;
    padding: 10px 10px;
    position: fixed;
    width: 100%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
    -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
    -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
}

main {
    padding-top: 138px;
}

#hero {
    display: inline-block;
    background-color: #ffe4c4;
    padding: 20px 0;
    width: 100%;
}

body {
    background-color: #fdf8f2;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    font-style: normal;
    color: #000000;
}
  
#hero p {
    text-align: center;
}

.row {
    margin: 25px 0;
}
  
h1 {
    font-size: 1.75em;
    font-weight: 600;
}
  
#hero h1 {
    text-align: center;
    margin: 0;
    padding: 0.67em 0;
}
  
h2 {
    font-size: 1.5em;
    font-weight: 500;
}
  
h3 {
    font-size: 1.25em;
    font-weight: 400;
}
  
a {
    color: #DB3B00;
    text-decoration: none;
}
  
a:visited {
    color: #DB3B00;
}
  
a:hover, a:focus {
    color: #cc6540;
    text-decoration: underline;
}
  
a:active {
    color: #994c30;
}
  
.button, .button:visited {
    display: inline-block;
    background-color: #DB3B00;
    color: #ffffff;
    font-weight: 400;
    padding: 10px;
    text-decoration: none;
    border-radius: 3px;
    border-bottom: 2px solid #994c30;
    transition: 0.2s opacity;
}
  
.button:hover {
    opacity: 0.8;
}
  
.button.contact {
    background-color: transparent;
    color: #DB3B00;
    text-transform: uppercase;
    border: 2px solid #DB3B00;
}
    
.button.contact:hover {
    background-color: #DB3B00;
    color: #ffffff;
}
  
.logo {
    max-width: 150px;
    margin: auto;
}

nav ul {
    list-style-type: none;
    padding: 15px;
    margin: 0;
}
  
nav ul li a {
    padding-right: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a4a4a;
}

.navtoggle li .icon {
    position: absolute;
    padding-right: 0;
    right: 0;
    top: 50px;
    font-size: 20px;
}

.navtoggle li:not(:last-child) {
    display: none;
}

.navtoggle.responsive li:last-child {
    padding: 0 0 10px;
}

.navtoggle, .navtoggle.responsive {
    position: relative;
}

.navtoggle.responsive nav {
    padding: 24px 0 0;
}

.navtoggle.responsive li {
    display: block;
    padding: 10px 0;
    border-top: 1px solid rgba(255,127,80,0.5);
}

#social {
    text-align: center;
}

#social img {
    height: 50px;
    width: 50px;
    padding: 0 5px;
}

.copyright {
    text-align: center;
    font-style: italic;
    font-size: 12px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
    header {
      text-align: unset;
      padding: 20px 20px;
    }

    main {
        padding-top: 185px;
    }

    .logo {
        max-width: 250px;
        margin: auto;
    }
  
    nav {
      width: auto;
      float: right;
      margin-top: 30px;
    }

    .navtoggle li:not(:last-child) {
        display: inline-block;
    }

    .navtoggle li:last-child {
        display: none;
    }

    nav ul {
        margin: 1em 0;
    }

    nav ul li {
        display: inline-block;
    }

    #hero span {
        display: block;
    }
    
    .col-md-6 {
        width: 50%;
    }

    [class*="col-"] {
        float: left;
        padding: 0 10px;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }
   
    #about-page h3 { 
        margin-top: 0;
    }
  }

  @keyframes color-change {
    from {fill: #edc655;}
    to {fill: #f76414;}
  }  

  .sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
  }

  .cloud-front {
    animation-duration: 30s;
    animation-name: cloud-move-reverse;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px, 48px);}
  }

  .cloud-back {
    animation-duration: 34s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
      
    .col-lg-7 {
        width: 60%;
    }

    .col-lg-5 {
        width: 40%;
    }

    .col-lg-3 {
        width: 25%;
    }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}